*{
font-family: cursive;
}

.aqua{
    color: aqua;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
p+a{
    color: blue ;
}
ol{
    list-style-type: lower-roman;
    list-style-position: inside;
}
ul{
    list-style-type: square;
}