body{
    margin: 20px;
    text-align: center;
}

.container1{
    background-color: cadetblue;
    width: 500;
    height: 1000;
}

.container2{
    background-color: grey;
    border-radius: 5px;
    padding: 20px;
    width: 50;
    height: 50;   
}