.main{
    border: 1px solid black;
    border-radius: 5px;
    width: 310px;
    height: auto;
    margin: 0 auto;
    padding: 2px;
    background: #000;
}
h1{
    color: white;
    text-align: center;
}
.result{
    margin-left: 2.2px ;
    width: 96.5%;
    height: 70px;
    border: 1px solid grey;
    font-size: 30px;
    color: white;
    background: #000;
    margin-bottom: 2px;
}
.clearBtn{
    width: 228px;
    height: 72px;
    font-size: 25px;
    background: red;
    border: 0px;
}
.btn{
    width: 72px;
    height: 72px;
    font-size: 25px;
    margin: 0.5px;
}
.mainbtn{
    display: flex;
    justify-content: space-around;
}
.equal{
    background:#03b1ff;
    border: 0px;
}











