* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.logo{
    display: block;
    width: 20em;
    height: 5.2em;
    margin: auto;

}
.title{
    text-align: center;
    font-size: 1.5em;
    color: blue;
    font-weight: bold;
}
div>p {
    display: inline-block;
    margin-left: 10px;
}
.form {
    width: 100%;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.input_field {
    margin-bottom: 1em;
    display: flex;
    text-align: center;
}
label {
    width: 120px;
    margin-right: 20px;
}
input {
    border: 1px solid grey;
    font-size: 14px;
    height: 20px;
}
fieldset {
    border-radius: 5px;
    margin-bottom: 20px;
}
.btn {
    text-align: center;
}
button {
    font-size: 1.2em;
    color: purple;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}













