.logo{
    display: block;
    width: 150px;
    height: 40px;
    margin: auto;

}
.center{
    text-align: center;
    font-size: 10px;
    color: blue;
}
label{
    float: left;
    margin-right: 15px;
    font-size: 10px;
}
span{
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}
.container{
    font-size: 10px;
    display: block;
    width: 100%;
}
div>p{
    display: inline;
}












