h1{
    font-size: 42px;
    color: brown;
    font-family: 'Merienda One', cursive;
    text-decoration: underline;
    text-align: center;
}
.para {
    text-transform: capitalize;
    line-height: 1.8em;
    word-spacing: 1px;
    letter-spacing: 2px;
    text-align: justify;
}
a {
    text-decoration: none;
}
a:link {
    color: darkorange;
}
a:visited{
    color: red;
}
.para1 {
    text-indent: 4%;
}
span>p {
    text-shadow: 1px 1px 1px darkgreen ;
    background-color: darkgrey;
}
input:hover{
    background-color: royalblue;
}
input:focus{
    background-color: skyblue;
}
button:active{
    color: tomato;
    background-color: red;
}









